<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtmap.airport.group.mapper.HotAirportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rtmap.airport.group.entity.HotAirport">
        <id column="id" property="id" />
        <result column="curr_airport_code" property="currAirportCode" />
        <result column="airport_code" property="airportCode" />
        <result column="domint" property="domint" />
        <result column="priority" property="priority" />
        <result column="name_cn" property="nameCn" />
        <result column="name_en" property="nameEn" />
    </resultMap>

</mapper>
